<h1>Listing alerts</h1>

<table>
  <tr>
    <th></th>
  </tr>

<% @alerts.each do |alert| %>
  <tr>
    <td><%= link_to alert.infos.first.headline, alert %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @alerts %>
