<h2 class="page-header">About Us</h2>

<p>
	TwitZIP is re-introducing the concept of "community" to neighborhoods across the country by delivering
	hyper-localized news, event announcements, special offers and emergency alert information to residents who follow regional ZIP code based Twitter feeds through TwitZIP.
</p>

<p>TwitZIP bridges the gap and unites communities with the following approach:</p>

<ul>

	<p>
		<strong>Relevant Content</strong> - TwitZIP aggregates local news from multiple sources down to the ZIP code level so residents can stay informed
		with all the happenings in their neighborhood. And in addition to hyper-localized news, we allow residents to spread the word on other important happenings like - lost dogs, neighborhood garage sales, community events, or other important information that neighbors
		should know about!
	</p>

	<p>
		<strong>Emergency Alerts</strong> - TwitZIP is the first and only non-broadcast social media company to push emergency alerts from the Federal Emergency Management Association (FEMA). With this partnership, TwitZIP instantly informs residents of emergency events impacting their local
		area. This includes severe weather warnings, AMBER alerts, fire warnings or security warnings.
	</p>

	<p>
		<strong>Localized Small Business Offers</strong> - Local small businesses love to reach out to their community with special savings and deals - and residents love to use them. TwitZIP allows local businesses to inform neighbors when they want to promote an extra special savings just to you!
	</p>

</ul>

<p>We hope that you find TwitZIP as valuable as the millions of other users out there!</p>
