<h2 class="page-header">Contact Us</h2>

<p>Thank you for your interest in TwitZIP!</p>

<p>
	If you have a question or comment for us - we would love to hear from you!
	<%= mail_to "feedback@twitzip.com", "Contact Us", :encode => "javascript", :subject => "twitzip.com feedback" %>
	and we will try to respond (as appropriate) within 24 hours.
</p>
