<h2 class="header">Follow Your ZIP code</h2>

<p>
	Stay up-to-date on all the happenings in your community by following your local ZIP code! TwitZIP
	collects the hyper-local news, weather, events and emergency information from your specific community
	and tweets it right to your fingertips - keeping you safe, informed and making you more a part of the
	communities you live in.
</p>

<p>Following your ZIP code is simple. Just enter the ZIP code you would like to follow in the above box and you will be tapped in!</p>

<p>Currently, you must have a Twitter account to follow your neighborhood news and events.</p>
